.input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    font-size: 18px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #8eafd8;
    padding: 5px;
  }
  button {
    width: 20%;
  }
}
